<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="appName" value="HostingClient"/>

	<targets>
		<target name="logconsole" xsi:type="ColoredConsole" encoding="utf-8" detectConsoleAvailable="true" useDefaultRowHighlightingRules="false" header="--------------------" footer="---------------------" layout="${longdate} [${uppercase:${level}}] ${callsite:includeSourcePath=False} - ${message} ${onexception:${newline}${exception:format=tostring}}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
		</target>

		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${appName}-${shortdate}.log" layout="${longdate} [${uppercase:${level}}] ${callsite:includeSourcePath=False} - ${message} ${onexception:${newline}${exception:format=tostring}}" createDirs="true" encoding="UTF-8" archiveFileName="${basedir}/Logs/Date/${appName}-${shortdate}-{#}.log" archiveAboveSize="10485760" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="999" />
	</targets>

	<rules>
		<logger name="System.*" maxLevel="Info" final="true" />
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>